/* Background da página de login com cores degradê */
#login {
  background: linear-gradient(120deg, #4c79d3 44.9%, #fff 45%) no-repeat fixed;
}

/* Background da página principal com cores degradê */
#app {
  background: linear-gradient(120deg, #fff 44.9%, #4c79d3 45%) no-repeat fixed;
}

/* Estilo do cabeçalho */
header {
  border-bottom: 1px solid #bebcbc;
  padding: 5px;
  background-color: #fff;
}

/* Cor principal */
.color-primary {
  color: #4e0070;
}

/* Cor secundária */
.color-secondary {
  color: #4c79d3;
}

/* Estilos do ícone */
.icon-detail {
  font-size: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

/* Estilos do texto de login */
.text-login {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

/* Posição da imagem das moedas */
.coins {
  position: absolute;
  bottom: 100px;
}

/* Botão da tela de login */
.button-login {
  border-radius: 10px;
  font-weight: 500;
  background-color: #4e0070;
  color: #fff;
  width: 50%;
  margin: 0 25%;
}

/* Botão padrão */
.button-default {
  border-radius: 10px;
  background-color: #4e0070;
  color: #fff;
}

/* Arredondamento das bordas no botão de cancelar */
.button-cancel {
  border-radius: 10px;
}

/* Botão que mostra o Modal */
.button-float {
  border-radius: 100%;
  height: 60px;
  width: 60px;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  font-size: 35px;
  border: 2px solid #4e0070;
  background-color: #4e0070;
  color: #fff;
  padding: 0 !important;
}

.button-float:hover {
  border-color: #4c79d3;
  color: #4c79d3;
  background-color: #fff;
}

.button-login:hover,
.button-default:hover {
  background-color: #4c79d3;
  color: #fff;
}

/* Estilo do link para criar uma conta */
.link-default {
  color: #4e0070;
  cursor: pointer;
}

.link-default:hover {
  color: #4c79d3;
}

/* 
Cor de fundo e estilos do container que
mostra as transações
*/
.info {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  padding-top: 20px;
}

/* Tamanho do dropdown de logout */
.logout {
  min-width: 5rem !important;
}
