#login {
  background: linear-gradient(120deg, #4c79d3 44.9%, #fff 45%) no-repeat fixed;
}

#app {
  background: linear-gradient(120deg, #fff 44.9%, #4c79d3 45%) no-repeat fixed;
}

header {
  border-bottom: 1px solid #bebcbc;
  padding: 5px;
  background-color: #fff;
}

.color-primary {
  color: #4e0070;
}

.color-secondary {
  color: #4c79d3;
}

.text-login {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.coins {
  position: absolute;
  bottom: 100px;
}

.button-login {
  border-radius: 10px;
  font-weight: 500;
  background-color: #4e0070;
  color: #fff;
  width: 50%;
  margin: 0 25%;
}

.button-login:hover {
  background-color: #4c79d3;
  color: #fff;
}

.link-default {
  color: #4e0070;
  cursor: pointer;
}

.link-default:hover {
  color: #4c79d3;
}
